body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: show;
    position: relative;
}

#chart {
    position: relative;
    overflow: show;
}



.bar:hover {
    fill: orange; /* Changed the hover color to orange */
}


.tick {
    overflow: show;
    text-anchor: end;
    z-index: 2; /* Ensure ticks are above the background */
}